@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --skyblue: #0290ff;
  --blue: #4386bf;
  --indigo: #307bbe;
  --gray: #e8e8e8;
  --black: #121212;
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

/* Navbar  */
.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  border-bottom: solid 1px var(--gray);
}

.nav-brand {
  color: var(--skyblue);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

nav {
  flex: 1;
  padding: 0.5rem 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #777;
}

.nav-link.active {
  color: #000;
}

.user-icon {
  background: none;
  border: solid 1px var(--gray);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--blue);
  font-size: 2rem;
  transition: all 0.3s;
}

.user-icon:hover {
  color: var(--skyblue);
  transform: scale(1.1);
}

/* Commons  */
article {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bookslist  */
.bookslist-container {
  padding: 1rem;
}

.bookslist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.book {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  border: solid 1px var(--gray);
  border-radius: 4px;
  padding: 2rem;
}

.book-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-category {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: #777;
}

.book-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.375rem;
}

.book-author {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: var(--blue);
}

.btn-group {
  display: flex;
}

.btn-group > button {
  color: var(--blue);
  font-family: 'Roboto Slab', serif;
  border: none;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  min-width: 100px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-group > button:hover {
  color: var(--skyblue);
}

.btn-group > .vertical-divider {
  width: 0.12rem;
  height: 1.5rem;
  background-color: var(--gray);
}

.progress-box {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  gap: 1rem;
}

.percent-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent {
  font-size: 2rem;
}

.status-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}

.status-container > h2 {
  font-size: 0.9rem;
  color: #ccc;
  text-transform: uppercase;
}

.book > .vertical-divider {
  width: 3px;
  height: 4rem;
  margin: 0 1rem;
  background-color: var(--gray);
}

.chapter {
  font-weight: 300;
  color: var(--black);
}

.update-btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  color: #fff;
  transition: all 0.2s;
}

.update-btn:hover {
  background-color: var(--skyblue);
}

/* Bookform  */
.form-container {
  padding: 2rem 0;
  margin-top: 2rem;
  width: 80%;
  border-top: solid 2px var(--gray);
}

.form-container > h2 {
  color: #666;
  margin-bottom: 1rem;
}

.book-form {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.book-form > input,
select {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 1rem;
  flex: 1;
  font-size: 1.1rem;
}

.book-form > select {
  flex: 0.5;
}

.book-form > input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.add-btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: #fff;
}

.add-btn:hover {
  background-color: var(--skyblue);
}

/* Progress circle  */
.progress-bar {
  --value: 64;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--skyblue) calc(var(--value) * 1%), var(--gray) 0);
}

/* Categories Page */
.categories-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status-popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--indigo);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
}

.check-btn {
  background-color: var(--indigo);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.2s;
}

.check-btn:hover {
  background-color: var(--skyblue);
}
